<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'musicapp/css/musicapp.css' %}">
</head>
<body>
    <img align="right" src="/static/musicapp/site_logo.png"><br>
    {% now 'd/m/y h:m:s' %}
    {% block content1 %}{% endblock %}
    <a href='{% url "index" %}'>На главную страницу</a>
</body>
</html>
