<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body{
             background-color: #F7F2E0; /* Цвет фона веб-страницы */
        }
        h1 {
            color: #4da89d;
        }

        li {
            font-size: 28px;
        }
    </style>
</head>
<body>
    <img align="right" src="/static/musicapp/site_logo.png"><br>
    {% now 'd/m/y h:m:s' %}
    {% block content1 %}{% endblock %}
    <a href='{% url "index" %}'>На главную страницу</a>
</body>
</html>
